### Generate Option Price Data Set

In [3]:
import pandas as pd
import numpy as np
import scipy.stats as ss
import matplotlib.pyplot as plt
#matplotlib inline

#### Black Scholes Option Pricing Formula [wiki](https://en.wikipedia.org/wiki/Black%E2%80%93Scholes_model)

In [4]:
def BS_Call(S,K,r,T,v,d=0):
    d1 = (np.log(float(S)/K)+((r-d)+v*v/2.)*T)/(v*np.sqrt(T))
    d2 = d1-v*np.sqrt(T)
    return S*np.exp(-d*T)*ss.norm.cdf(d1)-K*np.exp(-r*T)*ss.norm.cdf(d2)

#### Create range of option parameters

In [5]:
# Stock Price
S = np.arange(10, 200, 2)

# Strike Price
# To avoid extreme prices - K  will be a multiple of the Stock Price (S) rather than a completely seperate RV
K = np.random.random(len(S)) + 0.5

# Interest Rate
r = 0.05

# Time
T = np.arange(0.1, 1, 0.10)

# Volatility
V = np.arange(0.1, 0.6, 0.05)

# Number of option prices = life begins at a million examples...
no_of_options = len(S)*len(K)*len(T)*len(V)
no_of_options

812250

In [12]:
np.random.random(len(S))

array([0.26993195, 0.50972436, 0.90872874, 0.65623847, 0.17201869,
       0.49542983, 0.08118597, 0.13833296, 0.03766328, 0.46305832,
       0.67440612, 0.03936452, 0.09771147, 0.89085951, 0.83030149,
       0.61695309, 0.21398725, 0.24847671, 0.45270389, 0.93998289,
       0.83950819, 0.34572803, 0.27633384, 0.33981632, 0.65632977,
       0.24991605, 0.48721526, 0.92612239, 0.23209995, 0.88176438,
       0.74467626, 0.5698429 , 0.04397047, 0.81144644, 0.49082361,
       0.07055646, 0.87514464, 0.18344633, 0.55971185, 0.0095539 ,
       0.89447901, 0.24066481, 0.62088386, 0.38161047, 0.83978635,
       0.74837254, 0.16060911, 0.93976626, 0.56267609, 0.32129206,
       0.36015554, 0.0484945 , 0.4638495 , 0.56881918, 0.13620848,
       0.54186288, 0.66145565, 0.91354846, 0.72338305, 0.3722362 ,
       0.73513421, 0.22161379, 0.32476916, 0.30095739, 0.6459439 ,
       0.67020753, 0.46638176, 0.16888125, 0.72107321, 0.77684111,
       0.12510432, 0.36262776, 0.71586217, 0.169898  , 0.83553283,
       0.78062904, 0.55762126, 0.62076925, 0.73563601, 0.87800292,
       0.44230998, 0.05198836, 0.92691528, 0.61917624, 0.59260836,
       0.84352073, 0.15569389, 0.59037217, 0.80154595, 0.17681701,
       0.7896233 , 0.3469364 , 0.21795986, 0.97929435, 0.87419905])

In [6]:
# Create numpy array to store option data
prices = np.empty([no_of_options,5], dtype=float)

#### Caclculate Option Price using Black Scholes for each combination of parameters

In [7]:
%%time
# Track time record (1-2 minutes)


# Loop through parameters
x = 0
for s in S:
    for k in K:
        for t in T:
            for v in V:
                prices[x,:] = [s,s*k,t,v,BS_Call(s,s*k,r,t,v)]
                x+=1

CPU times: user 2min, sys: 145 ms, total: 2min
Wall time: 2min 5s

#### Pass values to a DataFrame

In [8]:
#Do not store constant interest rate value
option_df = pd.DataFrame(index = range(no_of_options), columns = 
                         ['Stock', 
                          'Strike',
                          'Time',
                          'Volatility',
                          'Call Price'], data = prices )

#### Write file to disk (pkl < csv)

In [9]:
option_df.to_pickle("option_data.pkl")

In [10]:
option_df

        Stock      Strike  Time  Volatility  Call Price
0        10.0    8.862299   0.1        0.10    1.181904
1        10.0    8.862299   0.1        0.15    1.182454
2        10.0    8.862299   0.1        0.20    1.187097
3        10.0    8.862299   0.1        0.25    1.199516
4        10.0    8.862299   0.1        0.30    1.220254
...       ...         ...   ...         ...         ...
812245  198.0  235.473591   0.9        0.35   16.374997
812246  198.0  235.473591   0.9        0.40   20.058603
812247  198.0  235.473591   0.9        0.45   23.779296
812248  198.0  235.473591   0.9        0.50   27.519020
812249  198.0  235.473591   0.9        0.55   31.265361

[812250 rows x 5 columns]